<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icecub3.lawinorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.icecub3.lawinorder.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icecub3.lawinorder.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="com.icecub3.lawinorder.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icecub3.lawinorder.SignUp"
            android:label="@string/title_activity_sign_up" >
            <intent-filter>
                <action android:name="com.icecub3.lawinorder.action.SignUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.icecub3.lawinorder.Upcoming"
            android:label="@string/title_activity_upcoming" >
            <intent-filter>
                <action android:name="com.icecub3.lawinorder.action.Upcoming" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>